@import 'src/sass/_variables';

.units-container {
    display: flex;
    flex-direction: row;

    .units-list {
        flex-grow: 1;

        font-size: 1.25rem;

        >div {
            background-color: white;
            border-radius: 20px;
            padding: 10px;
            width: 30vw;
        }

        li{
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
            padding: 5px;
        }
    }

    .map{
    }

    .cards{
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}