<div class="header" [ngClass]="'_'+errorCode">
    <svg class="background" role="none" aria-hidden="true">
        <defs>
            <pattern id="pattern" patternUnits="userSpaceOnUse" width="100%"
                [attr.height]="1.75*backgroundMounted.length + 'rem'">
                <text>
                    <tspan [attr.x]="backgroundBegining[i]" dy="1.75rem"
                        *ngFor="let row of backgroundMounted; index as i">{{row}}</tspan>
                </text>
            </pattern>
        </defs>


        <rect x="0" y="0" width="100%" height="100%" fill="url(#pattern)"></rect>
    </svg>

    <div class="main-relative">
        <div class="container">
            <div class="main">
                <div class="logo-container">
                    <app-logo-svg class="logo"></app-logo-svg>
                    <div class="logo-title">
                        <div>
                            <h1>
                                <span>IFFar</span> <span>em Dados</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="error-message">
                    <span><span>Erro</span></span> <span><span>{{errorCode}}</span></span>

                    <p>{{messages[0]}}</p>
                </div>

                <nav class="navigation-items">
                    <button class="card-button" routerLink="/">
                        <span>Voltar à página inicial</span>
                    </button>
                </nav>
            </div>
        </div>
    </div>
</div>