.courses-info>div{
    margin-bottom: 40px;
}

.flex{
    display: flex;
    flex-direction: column;
}
.info-layout{
    display: grid;
    grid-template-columns: 1fr 3fr;

    .graphs{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.courses{
    display: flex;
    flex-direction: column;

    >div{
        margin-top: 10px;

        >div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
        }
    }
}

@media (max-width: 992px) {
    .info-layout{
        grid-template-columns: 1fr;
    
        .graphs{
            grid-template-columns: 1fr 2fr;
            gap: 20px;
        }
    }

    .courses{    
        >div{
            >div{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}

@media (max-width: 768px){
    .info-layout{
        grid-template-columns: 1fr;
    
        .graphs{
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    .courses{    
        >div{
            >div{
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media (max-width: 576px) {
    .courses{    
        >div{
            >div{
                grid-template-columns: 1fr;
            }
        }
    }
}