<div *ngIf="response != null">
    <app-header
        [type]="header!.type"
        [title]="header!.title"
        [breadcrumb]="header!.breadcrumb"
        [background]="header!.background"
        [cards]="header!.cards"
    ></app-header>
    <div class="info">
        <div>
            <app-courses-info (changeCoursesInfoYear)="onChangeCoursesInfoYear($event)" [coursesInfo]="coursesInfo" [years]="years"></app-courses-info>
        </div>
        <div>
            <app-projects-info (changeProjectsYear)="onChangeProjectsYear($event)" [projectsInfo]="projectsInfo" [years]="years"></app-projects-info>
        </div>
        <div>
            <app-entry-and-progress-info (changeEntryInfoYear)="onChangeEntryInfoYear($event)" [entryAndProgressInfo]="entryAndProgressInfo" [years]="years"></app-entry-and-progress-info>
        </div>
        <div>
            <app-students-profile-info (changeStudentsYear)="onChangeStudentsYear($event)" [studentsProfile]="studentsProfile" [years]="years"></app-students-profile-info>
        </div>
    </div>
</div>
<div *ngIf="apiError != null">
    <app-general-error [errorCode]="apiError.status" [messages]="apiErrorMessages"></app-general-error>
</div>