.barchart {
    position: relative;
    height: 400px;
    overflow: scroll;

    .chartWrapper {
        height: 15000px;
        

        canvas {
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
        }
    }
}